;; shadow-cljs configuration
{:source-paths ["src" "test"]
 :dependencies [[reagent  "0.7.0"]
                [re-frame "0.10.5"]
                [com.taoensso/tempura "1.2.1"]]
 :builds
    {:app {:target :browser
                    :output-dir "resources/public/js"
                    :asset-path "/js"
                    :modules {:main {:entries [ennoia.app]}}
            ;; start a development http server on http://localhost:8020
            :devtools
            {:http-root "resources/public"
             :http-port 8020}}

     :desktop {:id :desktop
               :target :node-script
               :main ennoia.electron-host/-main
               :output-to "ennoia-desktop/index.js"}
    :test
      {:target    :node-test
       :output-to "target/node-tests.js"
       :ns-regexp "-test$"
       :autorun   true}}
}
